html,
body {
  height: 100%;
}

body {
  background-color: #F6F6F6;
  color: $black;
  font-size: 20px;
  line-height: 24px;
  @extend %raleway-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1130px;
  margin: 0px auto;
  padding: 0px 15px;
}

a {
  text-decoration: none;
  color: $white;
}

.popup-btn {
  @extend %arial;
  font-size: 16px;
  line-height: 1.55;
  border: none;
  background-color: $accent;
  border-radius: 10px;
  color: $white;
  padding: 20px 40px;
  box-shadow: 0px 0px 20px 5px rgba(8, 107, 86, 0.5);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  outline: transparent;

  &:hover,
  &:focus {
    background-color: $accenthover;
  }
}
