html,
body {
  height: 100%;
}

body {
  background-color: #F6F6F6;
  color: $black;
  font-size: 20px;
  line-height: 24px;
  @extend %raleway-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1150px;
  margin: 0px auto;
  padding: 0px 15px;
}

a {
  text-decoration: none;
  color: $white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.popup-btn {
  @extend %arial;
  font-size: 16px;
  line-height: 1.55;
  border: none;
  background-color: $accent;
  border-radius: 10px;
  color: $white;
  padding: 20px 40px;
  box-shadow: 0px 0px 20px 5px rgba(8, 107, 86, 0.5);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  outline: transparent;

  &:hover,
  &:focus {
    background-color: $accenthover;
  }
}


.iti__flag {background-image: url("../images/dist/flags/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../images/dist/flags/flags@2x.png");}
}

.popup-window {
  max-width:600px;
  height: 530px;
  @extend %bedas;
  padding: 0 45px;
  z-index: 100;

  &__title {
    font-size: 36px;
    line-height: 1.23;

    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    color: $grey;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 10px 10px 10px 5px;
    border: 1px solid $grey;
    outline: transparent;
    width: 100%;
    margin-bottom: 10px;
  }

  &__label {
    display: flex;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    font-size: 15px;
    line-height: 1.22;
  }

  &__checkbox-hidden {
    @extend %checkbox-hidden;

    &:checked + .popup-window__checkbox {
      background-image: url("../images/dist/sprite.svg#icons--check-on");
      background-repeat: no-repeat;
      background-position: center center;
      border-color: $black;
      
    }
  }

  &__checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid $bright-grey;
    transition: border-color 0.1s ease-in-out;
  }

  &__checkbox-text {
    padding-left: 30px; 
  }

  &__checkbox-link {
    color: $accent;
    border-bottom: 1px solid $accent;
  }

  &__btn {
    background-color: #086b56;
    padding: 20px 0;
    font-size: 16px;
    outline: transparent;
    border: none;
    color: $white;
    @extend %raleway-800;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:focus,
    &:hover {
      background-color: $accent;
    }
  }
}

.iti-mobile .iti--container {
  z-index: 99992;
}