$accent: #00AA86;
$preaccent: #69CDB8;
$accenthover: #088167;
$grey: #4D4D4D;
$bright-grey: #C4C4C4;
$white: #FFFFFF;
$black: #000000;
$beige: #E2D2C3;
$red: #F20909;




%arial {
  font-family: 'ArialBold', sans-serif;
  font-weight: 700;
}

%bedas {
  font-family: 'BebasNeue-Regular', sans-serif;
  font-weight: 400;
}

%raleway-400 {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
}

%raleway-500 {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
}

%raleway-700 {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
}

%raleway-800 {
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-weight: 800;
}