@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  padding: 50px 0;
  &__inner {
    color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__title {
    font-size: 27px;
    line-height: 1.3;
    margin-bottom: 35px;
    max-width: 600px;
    @extend %raleway-400;
  }

  &__title--section {
    margin-bottom: 0;
  }

  &__title--bold {
    display: block;
    @extend %raleway-700;
    font-size: 52px;
    line-height: 1.25;
  }

  &__text {
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 10px;
    margin-bottom: 12px;
    max-width: 550px;
    position: relative;

    &::before {
      content:'';
      width: 92%;
      height: 3px;
      position: absolute;
      bottom: 0;
      background-color: $accent;
    }
  }

  &__benefits-list {
    font-size: 16px;
    line-height: 1.27;
    max-width: 530px;
    margin-bottom: 40px;
  }

  &__benefits-item {
    padding-left: 33px;
    margin-bottom: 17px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid $accent;
      border-radius: 50%;
    }
  }

  &__img {
    max-width: 687px;
    object-fit: contain;
    margin-top: 150px;
    position: absolute;
    z-index: -1;
    right: 0%;
  }
}


.benefits {
  background-color: $accent;
  padding: 30px 0;

  &__title {
    @extend %arial;
    font-size: 80px;
    line-height: 1;
    color: $white;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 280px;
    margin: 0 40px 40px;
  }

  &__upper-box,
  &__bottom-box {
    height: 165px;
  }

  &__upper-box {
    background-color: $white;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    padding: 0 20px 0 25px;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    border-radius: 30px;
  }

  &__bottom-box {
    border-radius: 0px 0px 30px 30px;
    padding-right: 5px;
  }

  &__upper-box--hight-scale {
    display: block;

    h3 {
      font-size: 29px;
      line-height: 1.62;
      text-transform: uppercase;
      padding-top: 40px;
      margin-bottom: 6px;
    }
  }

  &__item-title {
    color: $accent;
    @extend %raleway-800;
    font-size: 19px;
  }

  &__item-subtitle {
    font-size: 15px;
    line-height: 1.33;
  }

  &__bottom-box {
    background-color: $preaccent;
    color: $white;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    margin-top: -60px;
    padding-top: 65px;
    padding-left: 18px;
  }

  &__description {
    font-size: 15px;
    line-height: 1.67;
  }

  &__wrapper {
    text-align: center;
  }

  &__btn {
    background-color: $white;
    color: $accent;

    &:hover,
    &:focus {
      background-color: $preaccent;
      color: $white;

    }
  }
}

.research {
  background-color: $beige;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %raleway-500;
    font-size: 55px;
    line-height: 1.2;
    color: $grey;

    margin-bottom: 50px;
  }

  &__text {
    color: $grey;
    font-size: 34px;
    line-height: 1.17;
    @extend %raleway-500;
    margin-bottom: 70px;
  }

  &__link {
    padding: 20px 65px 20px 110px;
    background: linear-gradient(180deg, #00AA86 0%, #087D65 100%);

    color: $white;
    font-size: 36px;
    line-height: 42px;
    @extend %raleway-700;
    text-align: center;

    position: relative;

    &::after {
      content: '';
      width: 54px;
      height: 58px;

      background-image: url('../images/icons/coursor.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      position: absolute;
      top: 57px;
      right: 52px;
    }

    &::before {
      content: '';
      width: 61px;
      height: 61px;

      background-image: url('../images/icons/hh.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      position: absolute;
      left: 33px;
      top: 12px;
    }
  }

  &__img {
    max-width: 465px;
    object-fit: cover;
    margin-top: 30px;
  }
}

.guarantee {
  background-color: $white;
  padding: 65px 0 71px;

  &__title {
    @extend %raleway-700;
    font-size: 40px;
    line-height: 1.18;

    max-width: 670px;
    padding-bottom: 35px;
    margin-bottom: 20px;

    border-bottom: 6px solid $accent;
  
    span {
      display: inline-block;
    }
  }

  &__text {
    font-size: 30px;
    line-height: 1.16;

    max-width: 650px;
  }
}

.portfolio {
  padding: 66px 0 48px;
  background-color: $beige;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #5B5B5B;
    @extend %raleway-700;
    font-size: 50px;
    line-height: 1.2;
    
    margin-bottom: 68px;
    text-align: center;

    span {
      display: inline-block;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 30px;

    max-width: 1144px;
    padding: 25px;
    margin-bottom: 32px;
    background-color: $white;
  }

  &__img {
    max-width: 345px;
    object-fit: cover;
  }

  &__text {
    font-size: 20px;
    line-height: 1.55;
    text-align: center;

    margin-bottom: 23px;
    max-width: 560px;
  }

  &__btn {
    max-width: 336px;
    padding: 11px 45px;
  }
}

.diploma {
  background-color: $white;
  padding: 53px 0 77px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %raleway-500;
    font-size: 48px;
    line-height: 1.04;
    
    position: relative;
    padding-bottom: 32px;
    margin-bottom: 38px;

    &::after {
      content: '';
      width: 576px;
      height: 3px;

      position: absolute;
      bottom: 0;
      left: 0;

      background-color: $bright-grey;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.15;

    margin-bottom: 15px;
    max-width: 530px;
  }

  &__img-box {
    position: relative;
    max-width: fit-content;

    &::after {
      content: '';
      width: 185px;
      height: 222px;

      background-image: url('../images/diploma.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      position: absolute;
      top: 158px;
      right: -30px;
    }
  }

  &__img {
    object-fit: cover;
    max-width: 455px;
  }
}


.reviews {
  padding: 50px 0;
  background-color: $white;

  &__list {
    max-width: 860px;
    margin: 0 auto;
    position: relative;
  }

  &__img {
    max-width: 860px;
    object-fit: contain;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      padding: 5px;
      line-height: 0;
      margin-top: 40px;
      button {
        padding: 0;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        border: none;

        &::before {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #c7c7c7;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: background-color 0.3s linear;
        }
}
    &.slick-active {
        button {
        &::before {
          background-color: #222222;
        }
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    line-height: 0;
    background-color: #E8E8E8;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 15px;
      
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 9px;
      height: 18px;
    }
  }

  .slick-prev {
    left: -70px;

    &::before {
      background-image: url('../images/icons/arrow-left.svg');
    }
  }

  .slick-next {
    right: -70px;

    &::before {
      background-image: url('../images/icons/arrow-right.svg');
    }
  }
}

.questions {
  background-color: $beige;
  padding: 34px 0 120px;

  &__title {
    @extend %raleway-800;
    font-size: 52px;
    line-height: 1.17;
    text-transform: uppercase;

    padding-left: 20px;
    margin-bottom: 35px;
    position: relative;

    &::before {
      content: '';
      height: 100%;
      width: 6px;
      background-color: $red;

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__item {
    background-color: $white;

    position: relative;
    margin-bottom: 2px;

    &::after {
      content: '';
      width: 40px;
      height: 40px;
      background-color: $bright-grey;
      opacity: 0;
      border-radius: 50%;

      position: absolute;
      top: 22px;
      right: 11px;
      z-index: 1;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        opacity: 0.5;
      }
    }
  }

  &__question {
    @extend %raleway-700;
    font-size: 21px;
    line-height: 1.4;
    color: $black;
    padding: 30px 50px 30px 30px;
    display: block;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 30px;
      right: 30px;
      transition: transform 0.3s ease-in-out;
      z-index: 2;

      background-color: rgba($color: #222222, $alpha: 0.6);
    }

    &::before {
      width: 22px;
      height: 2px;
      top: 40px;
      right: 20px;
    }

    &::after {
      height: 22px;
      width: 2px;
    }
  }

  &__question.active {
    &::before {
      transform: rotateZ(-45deg);
    }

    &::after {
      transform: rotateZ(-45deg);
    }
  }

  &__answer {
    padding: 0px 30px 30px 30px;
  }
}

.footer {
  background-color: $white;
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-list {
    display: flex;
  }

  &__social-item + .footer__social-item {
    margin-left: 24px;
  }

  &__social-item:nth-child(1) {
    .footer__social-link {
      background-image: url("../images/icons/vk.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  
      width: 36px;
      height: 36px;
      display: inline-block;
    }
  }

  &__social-item:nth-child(2) {
    .footer__social-link {
      background-image: url("../images/icons/tg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  
      width: 36px;
      height: 36px;
      display: inline-block;
    }
  }

  &__content-box {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 13px;
    line-height: 1.15;
    color: $black;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s linear;
    margin-bottom: 12px;
    width: fit-content;

    &:hover {
      border-color: $accent;
    }
  }
}

@import 'media';